<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/styles/index.css">
    <title>Message Board</title>
</head>
<body>
    <p>This is the Mini Message Board Home-page</p>
    <br/>

    <button class="add-new-message"><a href="/new">Add a New Message</a></button>
    <br/>

    <div class="message-board">
        <ul>
            <% for (const message of messages) { %>
                <li class="message">
                    <p><%= message.username %></p>
                    <p><%= message.title %></p>
                    <p><%= message.created_at %></p>
                    <a href="/message/<%= message.id %>" class="view-button">View Message</a>
                </li>
            <% }%>
        </ul>
    </div>
</body>
</html>